.contactContainer {
  width: 100%;
  margin-top: 43px;
}
.contactElement {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactHead {
  text-align: center;
}
.contactHead > span {
  font-size: 2em;
  font-weight: 600;
  border-bottom: 3px solid #ff0800;
}
.contactHead > p {
  margin-top: 0.7em;
  color: rgb(207, 207, 207);
}
.contactBody{
    margin-top: 1em;
    width: 40%;
    height: auto;
    border: 1px solid #004a4f;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px #004a4f;
}
.contactBody > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1.5em 0;
}
.inputs{
    width: 80%;
    border-radius: 0.5em;
}
.button{
    width: 80% !important;
    border: 2px solid #ff0800 !important;
    background-color: #ff0800 !important;
    color: white !important;
    transition: all ease 0.2s !important;
}
.button:hover{
    background-color: transparent !important;
    box-shadow: 0px 0px 8px #ff0800 !important;
}

@media screen and (width < 1250px) {
    .contactBody{
        width: 50%;
    }
    .contactHead > p {
        font-size: 0.9em;
    }
}
@media screen and (width < 1000px) {
    .contactBody{
        width: 65%;
    }
}
@media screen and (width < 700px) {
    .contactBody{
        width: 80%;
    }
}
@media screen and (width < 500px) {
    .contactBody{
        width: 95%;
    }
    .contactHead > p {
        font-size: 0.7em;
    }
    .contactElement{
        width: 95%;
    }
}
