.experienceContainer,
.educationContainer {
  width: 100%;
  margin-bottom: 43px;
}
.experienceElement,
.educationElement {
  margin: auto;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experienceUpperText,
.educationUpperText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experienceUpperText > span,
.educationUpperText > span {
  font-size: 2em;
  border-bottom: 3px solid #ff0800;
  font-weight: 600;
}
.experienceIntro,
.educationIntro {
  margin-top: 0.7em;
  color: rgb(207, 207, 207);
  text-align: center;
}
.experienceMain,
.educationMain {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 25em 25em;
  grid-template-rows: auto;
}
.experienceBox1,
.educationBox1 {
  grid-column: 1/2;
  border-right: 1.5px solid white;
}
.educationBox1 , .experienceBox1{
  border-bottom: 1px solid #007a83 ;
}
.experienceBox2{
  border-left: 1.5px solid white;
  grid-column: 2/3;
}
.educationBox2 ,.experienceBox2 {
  border-left: 1.5px solid white;
  grid-row: 2/3;
  grid-column: 2/3;
  border-top: 1px solid #007a83 ;
  border-bottom: 1px solid #007a83 ;
}
.educationBox3{
  grid-row: 3/4;
  grid-column: 1/2;
  border-right: 1.5px solid white;
  border-top: 1px solid #007a83 ;
}
.experienceBox1,
.experienceBox2,
.educationBox1,
.educationBox2 , .educationBox3 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expe1,
.edu {
  padding: 1em;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #007a83;
  border-radius: 0.5em;
  box-shadow: 0px 0px 8px #004a4f;
}
.expeHead,
.eduHead {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
}
.expeHead > img,
.eduHead > img {
  width: 3em;
  height: 3em;
  border-radius: 0.5em;
}
.expeHead > div,
.eduHead > div {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
.expeRole,
.eduRole {
  font-size: 1.3em;
  font-weight: 500;
}
.expeComName,
.eduComName {
  font-size: 0.8em;
  font-weight: 400;
}
.expeDate,
.eduDate {
  color: rgba(207, 207, 207, 0.678);
  margin-top: 0.3em;
  font-size: 0.7em;
}
.expeDiscription > p,
.eduDiscription > p {
  font-size: 0.9em;
  color: rgba(207, 207, 207, 0.848);
}
.expeSkills > div > ul {
  margin-top: 0.5em;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.expeSkills > div > ul > li {
  padding: 0.2em 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.342);
  border-radius: 0.5em;
  background-color: #db0700;
  box-shadow: 0px 0px 5px #ff0800;
}

@media screen and (width < 900px) {
  .experienceMain{
    grid-template-columns: 25em;
    grid-template-rows: 25em 22em;
  }
  .educationMain{
    grid-template-columns: 25em;
    grid-template-rows: auto;
  }
  .experienceBox1,
  .educationBox1 {
    grid-column: 1/2;
    grid-row: 1/2;
    border-left: 2px solid white;
    border-right: none;
  }
  .educationBox2 , .experienceBox2{
    grid-row: 2/3;
    grid-column: 1/2;
    border-left: 2px solid white;
  }
  .educationBox3{
    grid-column: 1/2;
    grid-row: 3/4;
    border: none;
    border-left: 2px solid white;
  }
  .experienceIntro,
  .educationIntro {
    font-size: 0.9em;
  }
}
@media screen and (width < 500px) {
  .experienceMain,
  .educationMain {
    grid-template-columns: 23em;
  }
  .expe1,
  .edu {
    width: 95%;
    height: auto;
  }
  .experienceBox1,.experienceBox2 ,
  .educationBox1  , .educationBox2 , .educationBox3{
    border: none;
  }
  .edu1{
    height: auto;
    margin-bottom: 2em;
  }
  .experienceIntro,
  .educationIntro {
    font-size: 0.7em;
  }
  .educationMain{
  margin-top: 2em;
}
}
@media screen and (width < 400px) {
  .expe1,
  .edu {
    font-size: 0.9em;
    height: auto;
  }
  .edu1{
    height: 24em;
    margin: 0;
  }
  .experienceMain,
  .educationMain {
    grid-template-columns: 20em;
  }
}
